appdirs==1.4.4
apturl==0.5.2
asgiref==3.5.2
asttokens==2.0.8
attrs==21.4.0
autopep8==1.6.0
Babel==2.6.0
backcall==0.2.0
backports.zoneinfo==0.2.1
bcrypt==3.1.7
beautifulsoup4==4.10.0
black==22.3.0
blinker==1.4
boto3==1.24.22
boto3-stubs==1.24.22
botocore==1.27.22
botocore-stubs==1.27.22
Brlapi==0.7.0
bs4==0.0.1
cached-property==1.5.2
certifi==2019.11.28
cfgv==3.3.1
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==8.1.2
colorama==0.4.3
command-not-found==0.3
commonmark==0.9.1
control==0.9.1
cryptography==2.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
decorator==4.3.0
defer==1.0.6
defusedxml==0.7.1
dictdiffer==0.9.0
distlib==0.3.4
distro==1.4.0
distro-info===0.23ubuntu1
Django==4.1
docusign-esign==3.13.0
docutils==0.14
duplicity==0.8.12.0
ebaysdk==2.1.5
entrypoints==0.3
erpbrasil.base==2.2.2
et-xmlfile==1.1.0
evdev==1.3.0
executing==1.0.0
fasteners==0.14.1
filelock==3.4.2
fonttools==4.29.1
freezegun==0.3.15
future==0.18.2
Genshi==0.7.6
gevent==20.9.0
greenlet==0.4.17
html5lib==1.0.1
httplib2==0.14.0
identify==2.5.1
idna==2.6
ipdb==0.13.9
ipython==8.4.0
isodate==0.6.1
jedi==0.18.1
Jinja2==2.11.2
jmespath==1.0.1
joblib==1.1.0
keyring==18.0.1
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libsass==0.17.0
lockfile==0.12.2
louis==3.12.0
lxml==4.6.1
macaroonbakery==1.3.1
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.6
monotonic==1.5
mypy-boto3-dynamodb==1.24.12
mypy-boto3-s3==1.24.0
mypy-boto3-sns==1.24.0
mypy-boto3-sqs==1.24.0
mypy-extensions==0.4.3
netifaces==0.10.4
nodeenv==1.7.0
nose==1.3.7
notion==0.0.28
num2words==0.5.6
numpy==1.22.2
oauthlib==3.1.0
ofxparse==0.19
olefile==0.46
openpyxl==3.0.9
packaging==21.3
paramiko==2.6.0
parso==0.8.3
passlib==1.7.1
pathspec==0.9.0
pdf2image==1.16.0
pdfkit==1.0.0
pexpect==4.6.0
phonenumbers==8.12.43
pickleshare==0.7.5
Pillow==8.1.1
platformdirs==2.5.0
polib==1.1.0
pre-commit==2.19.0
prompt-toolkit==3.0.30
protobuf==3.6.1
psutil==5.6.6
psycopg2==2.8.5
pure-eval==0.2.2
py3o.formats==0.3
py3o.template==0.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycep-correios==5.0.0
pycodestyle==2.8.0
pycups==1.9.73
pydot==1.4.1
Pygments==2.12.0
PyGObject==3.36.0
pyjon.utils==0.7
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==3.0.7
PyPDF2==1.26.0
pyRFC3339==1.1
pyserial==3.4
pysftp==0.2.9
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-dotenv==0.19.0
python-ldap==3.1.0
python-magic==0.4.16
python-slugify==6.1.1
python-stdnum==1.8
pytz==2019.1
pytz-deprecation-shim==0.1.0.post0
pyusb==1.0.2
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
qrcode==6.1
reportlab==3.5.55
requests==2.21.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.8.0
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
setproctitle==1.1.10
simplejson==3.16.0
six==1.14.0
sklearn==0.0
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.5.0
systemd-python==234
text-unidecode==1.3
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
traitlets==5.3.0
twilio==7.6.0
typing-extensions==4.1.1
tzdata==2021.5
tzlocal==4.1
ubuntu-advantage-tools==27.9
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.9
usb-creator==0.3.7
uuid==1.30
virtualenv==20.13.1
vobject==0.9.6.1
wadllib==1.3.3
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
youtube-dl==2021.12.17
zeep==3.2.0
zope.event==4.5.0
zope.interface==5.4.0
